body {
  color: #eee;
  background-color: #121212;
  font-family: sans-serif;
  font-size: 15pt;
}

input {
  margin-bottom: 5%;
}

label {
  text-align: center;
}

.login-box {
  margin-top: 20%;
  display: grid;
  justify-content: center;
}
